# Question 
* What's the version of Pandas that you installed?

In [2]:
import pandas as  pd

pd.__version__

'2.2.2'

# Q2. Records count
* How many records are in the dataset?

In [6]:
data = pd.read_csv("laptops.csv")

In [7]:
data.shape

(2160, 12)

In [8]:
print(f"There are {data.shape[0]} record in the dataset")

There are 2160 record in the dataset

# Q3. Laptop brands
* How many laptop brands are presented in the dataset?

In [12]:
data.columns

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

In [13]:
len(data['Brand'].value_counts())

27

In [14]:
print(f"There are {len(data['Brand'].value_counts())} laptop brand in the dataset")

There are 27 laptop brand in the dataset

# Q4. Missing 
* How many columns in the dataset have missing values?

In [ ]:
data.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [16]:
print("There are 3 columns with missing values")

There are 3 columns with missing values

# Q5. Maximum final price
* What's the maximum final price of Dell notebooks in the dataset?

In [17]:
data['Brand'].value_counts()

Brand
Asus                415
HP                  368
Lenovo              366
MSI                 308
Acer                137
Apple               116
Dell                 84
Microsoft            77
Gigabyte             48
Razer                37
Medion               32
LG                   32
Alurin               29
PcCom                24
Samsung              22
Dynabook Toshiba     19
Vant                 11
Primux                8
Deep Gaming           8
Innjoo                6
Thomson               4
Prixton               3
Millenium             2
Denver                1
Jetwing               1
Realme                1
Toshiba               1
Name: count, dtype: int64

In [18]:
data.loc[data['Brand']== "Dell"]['Final Price'].max()

3936.0

In [19]:

print(f"The maximum final price of Dell notebooks is {data.loc[data['Brand']== "Dell"]['Final Price'].max()}")

The maximum final price of Dell notebooks is 3936.0

# 6. Median value of Screen

## Find the median value of Screen column in the dataset.

In [20]:
medain_value = data['Screen'].median()

In [21]:
print(f"The median value of the screen is {medain_value}")

The median value of the screen is 15.6

## Next, calculate the most frequent value of the same Screen column.

In [22]:
frequent_value = data['Screen'].mode()

In [23]:
frequent_value

0    15.6
Name: Screen, dtype: float64

In [24]:
print(f"The most frequent value is {frequent_value}")

The most frequent value is 0    15.6
Name: Screen, dtype: float64

## se fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

In [25]:
data['Screen'].fillna(frequent_value,inplace=True)

/tmp/ipykernel_26952/3087898699.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Screen'].fillna(frequent_value,inplace=True)

In [26]:
medain_value_2 = data['Screen'].median()

In [27]:
medain_value_2

15.6

In [28]:
print(f"The New median value is {medain_value_2}")

The New median value is 15.6

# Q7. Sum of weights

* Select all the "Innjoo" laptops from the dataset.

In [46]:
data.head(20)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
5,MSI Crosshair 17 C12VF-264XES Intel Core i7-12...,New,MSI,Crosshair,Intel Core i7,32,1000,SSD,RTX 4060,17.3,No,1699.00
6,Lenovo Thinkpad E14 Gen 4 AMD Ryzen 5 5625U/8G...,New,Lenovo,ThinkPad,AMD Ryzen 5,8,256,SSD,NaN,14.0,No,909.00
7,ASUS VivoBook 15 F515JA-EJ2882W Intel Core i7-...,New,Asus,VivoBook,Intel Core i7,8,512,SSD,NaN,15.6,No,809.01
8,Medion Akoya E15415 Intel Core i5-10210U/8GB/2...,New,Medion,Akoya,Intel Core i5,8,256,SSD,NaN,15.6,No,519.00
9,HP Victus 16-d1038ns Intel Core i7-12700H/16GB...,New,HP,Victus,Intel Core i7,16,512,SSD,RTX 3050,16.1,No,1149.00
10,Lenovo V15 IGL Intel Celeron N4020/8GB/256 GB ...,New,Lenovo,V15,Intel Celeron,8,256,SSD,NaN,15.6,No,349.00
11,MSI Thin GF63 12VE-021XES Intel Core i7-12650H...,New,MSI,Thin,Intel Core i7,16,1000,SSD,RTX 4050,15.6,No,1399.00
12,ASUS ROG Strix G15 G513RC-HN088 AMD Ryzen 7 68...,New,Asus,ROG,AMD Ryzen 7,16,512,SSD,RTX 3050,15.6,No,1199.00
13,Lenovo V15 G3 ABA AMD Ryzen 5 5625U/16GB/512GB...,New,Lenovo,V15,AMD Ryzen 5,16,512,SSD,NaN,15.6,No,476.99
14,Lenovo IdeaPad 1 15ADA7 AMD Ryzen 3 3250U/8GB/...,New,Lenovo,IdeaPad,AMD Ryzen 3,8,256,SSD,NaN,15.6,No,391.00
15,HP 15S-FQ5013NS Intel Core i5-1235U/8GB/512GB ...,New,HP,15S,Intel Core i5,8,512,SSD,NaN,15.6,No,699.00
16,Lenovo IdeaPad 3 15IAU7 Intel Core i5-1235U/16...,New,Lenovo,IdeaPad,Intel Core i5,16,512,SSD,NaN,15.6,No,799.00
17,HP 15S-FQ2163NS Intel Core i3-1115G4/8GB/512GB...,New,HP,15S,Intel Core i3,8,512,SSD,NaN,15.6,No,549.00
18,ASUS VivoBook 15 F515JA-EJ4134 Intel Core i7-1...,New,Asus,VivoBook,Intel Core i7,8,512,SSD,NaN,15.6,No,769.00
19,MSI GF63 Thin 11UC-446XES Intel Core i7-11800H...,New,MSI,Thin,Intel Core i7,16,512,SSD,RTX 3050,15.6,No,999.00

In [31]:
innjo_data =data.loc[data['Brand'] == "Innjoo"]

In [32]:
innjo_data

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

## Select only columns RAM, Storage, Screen.

In [35]:
selected_columns = ['RAM','Storage','Screen']

In [36]:
innjo_data[selected_columns]

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [ ]:
import numpy as np

# Filter for "Innjoo" laptops and select the columns RAM, Storage, Screen
innjoo_laptops = laptops_df[laptops_df['Brand'].str.contains("Innjoo", na=False, case=False)]


# Compute matrix-matrix multiplication of transpose of X and X
XTX = X.T @ X

#

### et the underlying NumPy array. Let's call it X.
3333333

In [37]:
import numpy as np

In [38]:
X = innjo_data[selected_columns].to_numpy()

In [39]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

* Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX

In [40]:
XTX = X.T @ X

In [41]:
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

* Compute the inverse of XTX.

In [45]:

XTX_inv = np.linalg.inv(XTX)

In [46]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100].

# Create the array y
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [47]:
w = XTX_inv @ X.T @ y

In [50]:
result_sum = w.sum()
print(round(result_sum,2))

91.3